.form {
    text-align: center;
}

.label {
    font-weight: bold;
    text-align: right;
    width: 70px;
    margin-right: 10px;
}

.input-box {
    width: 250px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 8px;
}

.add-margin {
    margin-left: 30px;
}